* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

header {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #000;
  width: 100%;
  min-width: 20rem;
}

h1 {
  text-align: center;
  color: #fff;
}

h1 span {
  color: blueviolet;
}

main {
  width: 500px;
  background-color: #fff;
  padding: 10px;
}

form {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

form input {
  flex: 1;
  font-size: 16px;
  padding: 0 5px;
}

form button {
  width: 36px;
}

ul li + li {
  margin-top: 5px;
}

.task-item {
  display: flex;
  justify-content: space-between;
}
